[submodule "third_party/yaml-cpp"]
	path = third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "common"]
	path = common
	url = https://github.com/vectorgrp/sil-kit-adapters-common.git
