/silkit-qemu-demos-guest.qcow2
/out/
/.vscode/
/.vs/
/_build/
/build/
/*/build/
/CMakeSettings.json
/build_wsl
/bin
/lib
/Downloads
/**/Default.venvironment/
/**/working-dir/
/**/*.vtestunit/
*.vector
/**/.run/
*.out
/adchips/
/chardevs/
