name: trigger ska-integrations-tests
on:
  workflow_dispatch:
    inputs:
      branch_under_test:
          required: false
          type: string
  workflow_call:
    inputs:
      common_repo_commit:
        required: false
        type: string
      branch_under_test:
        required: false
        type: string
      linux_runner:
        required: true
        type: string
        default: '["self-hosted", "linux", "ska", "testing"]'
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: serialization_group_generic-linux-io
  cancel-in-progress: false

jobs:
  trigger-integration-tests:
    uses: pnd/sil-kit-adapters-ci-testing/.github/workflows/ska-integration-tests.yaml@main
    with:
      repository_under_test : 'pnd/sil-kit-adapters-generic-linux-io'
      branch_under_test: ${{ inputs.branch_under_test != '' && inputs.branch_under_test || (github.event_name == 'pull_request' && github.event.pull_request.head.ref || 'main') }}
      common_repo_commit: ${{ inputs.common_repo_commit }}
      linux_runner: ${{ inputs.linux_runner != '' && inputs.linux_runner || '["self-hosted", "linux", "ska", "testing"]' }}
      linux_scripts: |
        advalues/demos/CANoe4SW_SE/run_all.sh
        chardev/demos/CANoe4SW_SE/run_all.sh
        gpio/demos/CANoe4SW_SE/run_all.sh
        adapter/demos/CANoe4SW_SE/run_all.sh
    secrets: inherit
